body {
    font-family: serif;
    text-align: center;
    background: #A87A41;
    color: #CECECE;
    margin: 0rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #3B3B3B;
    padding: 0.5rem 1.3rem;
    border-radius: 0.3rem 1rem;
    width: 90%;
    max-width: 400px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.quote-author {
    margin-top: 3rem;
    text-align: center;
    height: 400px;
    width: 90%;
    max-width: 600px;
}

#authorImg {
    margin-top: 2.5rem;
    height: 200px;
    border-radius: 1rem;
    border: 1rem solid black;
}

.quote-container {
    padding: 4.1rem 3rem;
    margin-top: 4rem;
    text-align: center;
    height: 200px;
    border-radius: 1rem;
    border: none;
    background: #2B2B2B;
    color: inherit;
    max-width: 350px;
}

.home-container {
    padding: 2.7rem 0;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:15px;
}

.home-container input {
    padding: 0.7rem 0.7rem;
    border-radius: 0.2rem 0.9rem;
    border: none;
    outline-color: #7B7B7B;
    background: #3B3B3B;
    color: inherit;
}

.home-container button {
    padding: 0.6rem 0.5rem;
    border-radius: 0.2rem 0.9rem;
    border: none;
    color: #3B3B3B;
}